<html>
  <head>
    <title>Brom Brom Eyeball</title>
    <link rel="stylesheet" href='../static/style.css'/>
  </head>
  <body>
    <h1>brom brom eyeball see</h1>
    <h3><img src="{{ url_for('video_feed') }}" width="60%"></h3>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('a#test').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/background_process_test',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>
    
    <div class='container'>
        <h3>Test</h3>
            <form>
                <a href=# id=test><button class='btn btn-default'>Test</button></a>
            </form>

    </div>
    <hr>
    <p> @2020 brom brom help/p>
  </body>
</html>
